# 연습문제 - 데이터 사이언스 스쿨 / 판다스

In [1]:
import numpy as np
import pandas as pd

### 연습문제 4.1.3

In [17]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [18]:
# 1) 모든 학생의 수학 점수를 시리즈로 나타낸다.
df['수학']

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

In [19]:
# 2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.
df[['국어','영어']]

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [20]:
# 3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.
df['평균'] = df.mean(axis=1).round(2)
df

    국어  영어  수학     평균
춘향  80  90  90  86.67
몽룡  90  70  60  73.33
향단  70  60  80  70.00
방자  30  40  70  46.67

In [21]:
df['평균2'] = np.mean(df.values[:,:-1], axis=1).round(2)
df

    국어  영어  수학     평균    평균2
춘향  80  90  90  86.67  86.67
몽룡  90  70  60  73.33  73.33
향단  70  60  80  70.00  70.00
방자  30  40  70  46.67  46.67

In [22]:
# 4) 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.
df.drop(columns=['평균','평균2'], inplace=True)
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [23]:
df['영어']['방자'] = 80
df['평균'] = df.mean(axis=1).round(2)
df

    국어  영어  수학     평균
춘향  80  90  90  86.67
몽룡  90  70  60  73.33
향단  70  60  80  70.00
방자  30  80  70  60.00

In [24]:
# warning message를 보고 싶지 않으면
import warnings
warnings.filterwarnings('ignore')

In [25]:
# 5) 춘향의 점수를 데이터프레임으로 나타낸다.
df.head(1)

    국어  영어  수학     평균
춘향  80  90  90  86.67

In [27]:
df.T[['춘향']]

       춘향
국어  80.00
영어  90.00
수학  90.00
평균  86.67

In [28]:
df[:'춘향']

    국어  영어  수학     평균
춘향  80  90  90  86.67

In [29]:
# 6) 향단의 점수를 시리즈로 나타낸다.
df.T['향단']

국어    70.0
영어    60.0
수학    80.0
평균    70.0
Name: 향단, dtype: float64

### 연습문제 4.3.1

In [30]:
# 1) 모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다.
df = pd.DataFrame(np.arange(25).reshape(5,5), columns=list('ABCDE'), index=list('vwxyz'))
df

    A   B   C   D   E
v   0   1   2   3   4
w   5   6   7   8   9
x  10  11  12  13  14
y  15  16  17  18  19
z  20  21  22  23  24

In [31]:
# 2) 10가지 이상의 방법으로 특정한 행과 열을 선택한다.
df['C']['x'], df['C'][2], df.C['x'], df.C[2], df.C.x

(12, 12, 12, 12, 12)

In [32]:
# loc indexer
df.loc['x','C'], df.loc['x'][2], df.loc['x']['C']

(12, 12, 12)

In [33]:
# iloc indexer
df.iloc[2,2], df.iloc[2]['C'], df.iloc[2][2]

(12, 12, 12)